.contact-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.contact-h1{
  text-align: center;
  margin-bottom: 2rem;
}

.contact-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  
.contact-div .text, .contact-div .form {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 12px;
  margin-bottom: 30px;
background-color: #f3f3f3;
  }
  
.contact-div .form {
    background-color: #325119;
    color: white;
  }
  
 .form form {
    display: grid;
    gap: 15px;
    align-items: center;
  }
  
  .form form label {
    font-weight: bold;
    color: white;
  }
  
  .form form input,
  .form form textarea {
    padding: 12px;
    border: 2px solid black;
    border-radius: 15px;
  }
  
  .form form button {
    background-color: #b7c3ae;
    color: black;
    font-weight: bold;
    padding: 12px 20px;
    border: 1px solid black;
    border-radius: 15px;
    transition: background-color 0.3s ease;
  }
  
  .form form button:hover {
    background-color: #9ba99d;
  }
  