body{
    margin: 0;
    padding: 0;
}

.footer{
    background-color: #325119;
    padding: 20px 60px 0 60px;
    color: white;
}

.footer .top {
    display: flex;
    gap: 100px;
}

.footer .top .item {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: justify;
    font-size: 16px;
}

.footer .top .item h1 {
    font-size: 18px;
    font-weight: 500;
}

.footer .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .bottom .left {
    display: flex;
    align-items: center; 
}

.footer .bottom .left .logo {
    font-weight: bold;
    font-size: 24px;
    color: white;
}

.footer .bottom .left .copyright {
    margin-left: 20px;
    font-size: 14px;
    color: white;
}
        
.footer .bottom .right {
    display: flex;
    justify-content: flex-end; 
}

.footer .bottom .right img {
        height: 90px;
    }