body {
  background-color: whitesmoke;
}

.Home .slider{
  margin-top: 20px;
  height: 50vh;
  width: 100%;  
  display: flex;
  justify-content: center;
}

.Home .slider .container{
    display: flex;
    width: 70%;
    height: 100%;
  }

.Home .slider .container img{
    flex:auto;
    height: 100%;
  }

.Home .about-us {
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 45px;
}

.Home .about-us .about-us-content {
  display: grid;
  grid-template-columns: 1fr 2fr; 
  column-gap: 50px; 
  align-items: center;
  max-width: 1200px; 
  width: 100%;
  margin: 0 auto;
}

.Home .about-us .about-us-content .logo-container img {
  width: 100%;
  max-width: 300px;
}

.Home .about-us .about-us-content .about-us-text h1 {
  color: black; 
  margin-bottom: 20px;
  font-size: 40px;
  text-align: center;
}

.Home .about-us .about-us-content .about-us-text p {
  color: black; 
  margin-bottom: 20px;
  text-align: center;
}

.Home .about-us .about-us-content .read-more-btn {
  background-color:#b7c3ae; 
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 20px auto;
  width: fit-content;
}

.Home .about-us .about-us-content .read-more-btn:hover {
  background-color: #325119; 
}

.Home .about-us .about-us-content .logo-container {
    justify-content: center;
    display: flex;
  }


.Home .subscribe-section {
  background-color: #b7c3ae;
  padding: 40px 0;
  }
  
.Home .subscribe-section .subscribe-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
  }

.Home .subscribe-section .subscribe-content .left, .right {
    margin: 0 10px;
  }
  
.Home .subscribe-section .subscribe-content .left {
    color: #325119;
    text-align: left;
  }

.Home .subscribe-section .subscribe-content .left h1 {
    font-size: 30px;
    margin: 0;
    padding-right: 20px;
    }

.Home .subscribe-section .subscribe-content .left h3{
    margin: 0;
    padding-right: 20px;
    font-weight: lighter;
    }
  
.Home .subscribe-section .subscribe-content .right {
    flex: 2;
    display: flex;
    justify-content: center;
  }  
  
.Home .subscribe-section .subscribe-content .right form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
  }

.Home .subscribe-section .subscribe-content .right input,
.Home .subscribe-section .subscribe-content .right button {
  padding: 10px;
  margin: 0;
  border: 1px solid black;
  box-sizing: border-box;
}

.Home .subscribe-section .subscribe-content .right input {
    border-radius: 20px 0 0 20px;
    width: calc(70% - 1px);
  }
  
.Home .subscribe-section .subscribe-content .right button {
    background-color: #325119;
    color: white;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    border-left: none;
  }

  




  