
.info-popup {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center; 
    justify-content: center; 
    z-index: 1000; 
  }
  
  .info-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 80%; 
    max-width: 500px; 
    text-align: center;
    position: relative;
    overflow-y: auto;
  }
  
  .close-button {
    position: absolute; 
    top: 10px;
    right: 10px; 
    padding: 5px 10px;
    background-color: #325119;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .info-content h2 {
    color: #333;
    margin-bottom: 15px;
  }
  
  .info-content p {
    color: #666;
    line-height: 1.5;
  }

  .info-content p.Price {
    font-size: 20px;
    color: black;
  }

  .info-content button.AddToCart {
    height: 10%;
    background-color: #b7c3ae;
    border-radius: 30px;
    font-size: 16px;
    padding: 5px 10px;
  }

  .info-content button.AddToCart:hover {
    background-color: #879180;
  }
  
  .info-content {
    overflow-y: auto;
  }
  
