.varukorg {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  transform: translate(0, 0);
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 550px;
  height: 1000px;
  background-color: #325119;
  color: white;
  font-style: italic;
}

.varukorg.visible {
  display: block;
}

.close-button {
  background-color: #325119;
  position: absolute;
  top: 25px;
  right: 10px;
  font-size: 30px;
  border: none;
  padding: 0;
  box-shadow: none;
}

.checkout-button {
  border-radius: 5px;
  padding: 10px 40px;
  background-color: #325119;
  width: 92%;
  color: white;
  font-size: 25px;
  margin: 20px;
  text-align: center;
  border: 2px solid white;
  margin-top: 400px;
  font-style: italic;
  
}
.varukorg .content img {
  max-width: 100%; /* Ensure the image does not exceed its container width */
  height: auto; /* Maintain the image's aspect ratio */
  display: block; /* Ensure the image is displayed as a block element */
  margin-bottom: 10px; /* Add some space below each image */
}

img {
  max-width: 100%;
  height: auto;
}


