
.varukorg {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  transform: translate(0, 0);
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 500px;
  max-height: 80vh;
  overflow-y: auto;
  background-color: rgb(248, 248, 248);
  color: #325119;
  font-style: italic;
  padding-left: 20px;
}

.varukorg.visible {
  display: block;
}

.varukorg.visible h1, .varukorg.visible p {
  margin: 20px;
}
.cart-item {
  display: flex; 
  align-items: center; 
  margin-bottom: 20px;
}

.item-details {
  margin-left: 10px; 
  flex-grow: 1;
}

.varukorg.visible .item-details p {
  margin: 5px 0; 
}

.varukorg.visible .item-details input[type="number"] {
  width: 60px;
  height: 20px;
  margin-right: 10px;
}

.varukorg.visible .content .close-button {
  position: absolute;
  top: 25px;
  right: 10px;
  font-size: 30px;
 border-radius: 30px;
  padding: 0;
  box-shadow: none;
  cursor: pointer;
}

.varukorg.visible .checkout-button {
  border-radius: 5px;
  padding: 10px 30px;
  background-color: #b7c3ae;
  width: auto;
  color: black;
  font-size: 20px;
  margin: 20px;
  text-align: center;
  border: 1px solid black;
  font-style: italic;
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.varukorg.visible .checkout-button:hover {
  background-color: #98a490;
}



