.flex {
    display: flex;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.image-nav {
    max-width: 230px;
    height: auto;
    padding: 10px;
}

.div-su-nav {
    justify-content: center;
    list-style-type: none;
    width: 100%;
}

.search-nav {
    display: flex;
    justify-content: center;
    margin-top: 1.2em;
    align-items: center;
    width: 100%;
    position: relative;
    
}
  .search-nav input {
    height: 1.8em;
    width: 27em;
    background-color: #edf3f8;
    border-radius: .4em;
    font-size: medium;
    border: none;
    transition: border 0.3s;
    text-align: center;
  }
    .search-nav input:hover {
      border: 1px solid #325119;
    }
  .search-nav svg {
      position: absolute;
      margin-left: 24em;
  }

.ul-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-top: 1em;
    gap: 4rem;
}
  .ul-nav li {
    font-size: 20px;
    border-radius: 20px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ul-nav a {
    text-decoration: none;
    color: #325119;
    cursor: pointer;
    text-align: center;
  }

    .ul-nav li:hover{
      background-color: #325119;
        a{
            color: white;
        }
    }

.InvisibleBox{
    display: flex;
    justify-content: center;
    width: 310px;
    height: auto;
    padding: 10px;
    margin-right: 10px;
}

.Circle{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 35px;
}

.Circle svg{
    width: 45px;
    z-index: 2;
}

.Circle:hover{
    background-color: #325119;
    cursor: pointer;
    .Circle svg{
        fill: red;
    }
}