.flex {
    display: flex;
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
}

.image-nav {
    width: 200px;
    height: 100px;
}

.div-su-nav {
    justify-content: center;
    list-style-type: none;
    width: 100%;
}

.search-nav {
    justify-content: center;
    list-style-type: none;
    margin-top: auto;
    width: 100%;
    position: relative;
    align-items: center;
    margin-left: 2.5em;
}
  .search-nav input {
    height: 2.5em;
    width: 27em;
    background-color: #edf3f8;
    border-radius: .4em;
    font-size: medium;
    border: none;
    transition: border 0.3s;
      text-align: center;
  }
    .search-nav input:hover {
        border: 1px solid green;
    }
  .search-nav svg {
      position: absolute;
      margin-left: 24em;
  }

.ul-nav {
    justify-content: center;
    list-style-type: none;
    margin-bottom: auto;
    width: 100%;
    gap: 5em;
}
  .ul-nav li {
      display: flex;
    flex-direction: column;
    font-size: 20px;
      height: 25px;
      width: 100px;
      border-radius: 20px;
  }
  .ul-nav a {
      margin-top: 1px;
    text-decoration: none;
    color: #325119;
    cursor: pointer;
      text-align: center;
      height: 25px;
  }
    .ul-nav a:hover {
        color: white;
    }

    .ul-nav li:hover{
        background-color: #325119;
    }

.InvisibleBox{
    display: flex;
    justify-content: center;
    width: 200px;
    height: 100px;
}


.Circle{
    margin-top: 16px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 35px;
}

.Circle svg{
    width: 45px;
    z-index: 2;
}

.Circle:hover{
    background-color: #325119;
    cursor: pointer;
}