.prod-h1 {
    text-align: center;
}

.prod-ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.HelaSkiten{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin: 2%;
    width: 16em;
    height: 30em;
    align-items: center;
}


.prod-ul li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border: 0.15em solid #ddd;
    width: 15em;
    height: 27.1em;
    background-color: white;
    border-radius: 20px;
}

.SuperBox img {
    width: 10em;
    height: 15em;
    margin-left: 2.5em;
    margin-top: 1em;
    border-radius: 10px;
}

.SuperBox .Title {
    text-align: center;
    margin-left: .5em;
    margin-right: .5em;
    font-size: 16px;
    font-weight: bold;
    height: auto;
    width: 224px;
}
.SuperBox .Author {
    font-size: 14px;
    text-align: center;
}
.prod-ul li .Box{
    display: flex;
    align-self: flex-end;
    flex-direction: column;
}

.prod-ul li .Price {
    display: flex;
    align-items: flex-end;
    text-align: end;
    font-size: 18px;
    font-weight: bold;
    margin-right: .5em;
}

.Knapparna{
    margin-top: 7px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.Knapparna .InfoButton{
    color: black;
    border-radius: 30px;
    background-color: dodgerblue;
    width: 7em;
    height: 3em;
}

.Knapparna .AddToCart{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: limegreen;
    border-radius: 30px;
    width: 3em;
    height: 3em;

    padding: 0;

}

.AddToCart svg{
    width: 31px;
    height: 31px;
}

