.page{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.box{
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    height: 45em;
    width: 90%;
    margin-top: 2em;
    margin-bottom: 2em;
}